# Python
__pycache__/
*.py[cod]
*.Pyo 
*.pyd

# Virtual Enviornments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Ignore all pkl files EXCEPT the production model
ml/*.pkl
!ml/mortgage_underwriter_model.pkl

# Logs
*.log

# IDE
.vscode/
.idea/

